$red-btn: #ff2850;
$red: #fe0000;
$grey: #758391;
$white: #ffffff;
$green: #16bf32;
$dark-gray: #3a3c3e;
$light-gray: #e9ecef;
$blue: #2a45ff;
$orange: #ff7f00;
$black: #000000;

$background-pages: #e9ecef1a;

$dark-gray-border: solid 1px #7583914d;
$light-gray-border: solid 1px #e8eaf1;

$box-shadow: 0 0 5px 0 #97a7b661;
$btn-box-shadow: 0 2px 5px 0 #c9d1d96e;

$green-gradient: linear-gradient(to right, #13bf32, #16be32);
$orange-gradient: linear-gradient(to right, #fc4e02, #ff7f00);
$red-gradient: linear-gradient(to bottom, #ff487f, #ff2b57);
$blue-gradient: linear-gradient(to bottom, #01beff, #0091ff);
$yellow-gradient: linear-gradient(to bottom, #ffcc05, #f0c006);
$purpure-gradient: linear-gradient(to bottom, #9562ff, #814eec);

$table-header: #c9d1d92e;
