<mat-toolbar class="header">
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [opened]='true' class="sidenav" [fixedInViewport]="true" [fixedTopGap]="0"
    [fixedBottomGap]="0">

    <div class="logo">
      <img src="../../../../assets/images/logo.png" alt="LOGO">
    </div>

    <ul class="menu">
      <ng-container *ngFor="let item of menuItems">
        <li class="item" [routerLink]='item.url'>
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.title}}</span>
        </li>
      </ng-container>

    </ul>
    <div class="help">
      <span class="material-icons">
        info_outline
      </span>
      <span>Help</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
